{% extends "main/base_template.html" %}


{% block title %} Загальний доступ котрий ви надали: Редаугвання {% endblock %}


{% block listbar %}
    <div class="wrapper-listbar">
         <ul class="share-listbar-ul">
            <li class="share-listbar-listbar-li   shared-from-user  {% if subcategory == 'shared_from_me'%}share-listbar-listbar-li-select{% endif %}">
                <a href="{% url 'shared_note_from_me' %}">Я поділився</a>
            </li>
             <li class="share-listbar-listbar-li   shared-for-user  {% if subcategory == 'shared_for_me'%}share-listbar-listbar-li-select{% endif %}">
                 <a href="{% url 'shared_note_for_me' %}">Поділились зі мною</a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block detail_listbar %}
    <div class="wrapper-detail-listbar">
        <ul class="detail-listbar-ul">
            {% for shared_note in shared_notes %}
                <li class="detail-listbar-li  {% if shared_note.note.id == note_id %}note-li-select{% else %}lisbar-li-opacity{% endif %}">
                    {% if shared_note.note.title|length > 50 %}
                        <a class="detail-listbar-a" href="{% url 'shared_note_from_me_detail' shared_note.note.pk %}">
                            {{ shared_note.note.title|striptags|slice:":50" }}...
                        </a>
                    {% else %}
                        <a class="detail-listbar-a" href="{% url 'shared_note_from_me_detail' shared_note.note.pk %}">
                            {{ shared_note.note.title }}
                        </a>
                    {% endif %}
                    <span class="note-short-description">{{ shared_note.note.content|striptags|slice:":50" }}...</span>
                    <span class="detail-listbar-shared-data">Доступ надано: {{ shared_note.created_at|date:"d.m.Y H:i" }}</span>
                    <span class="detail-listbar-shared-with">Доступ для: {{ shared_note.shared_with.contact_user.email }}</span>
                    <span class="detail-listbar-shared-rights">Права доступу:
                        {% if shared_note.can_view == True %}
                            <span>Перегляд</span>
                        {% endif %}
                        {% if shared_note.can_edit == True %}
                            <span>Редагування</span>
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block contentbar %}
    <div class="wrapper-contentbar">
        <div class="form-edit-note">
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}</label>
                            {{ field }}
                        </div>
                {% endfor %}
                <div class="form-edit-note-btn-save">
                    <div class="save-btn">
                        <input type="submit" class="btn btn-success   btn-icon-add-save " value="Зберегти" />
                    </div>
                    <div class="cancel-save-btn">
                        <a href="{% url 'shared_note_from_me_detail' note_id %}" class="btn btn-danger   btn-icon-add-del">Відминити</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}