{% extends "main/base_template.html" %}


{% block title %} Список контактів {% endblock %}


{% block listbar %}
    <div class="ulist-wrapper-listbar">
        <ul class="ulist-listbar-ul">
            {% for contact in contacts %}
            <li class="ulist-listbar-li">
                <div class="ulist-listbar-li-container">
                    <p class="ulist-listbar-li-username">
                        {% if contact.contact_user.username|length > 25 %}
                            <a href="{% url 'contact_detail' contact.pk %}">{{ contact.contact_user.username|striptags|slice:":16" }}...</a>
                        {% else %}
                            <a href="{% url 'contact_detail' contact.pk %}">{{ contact.contact_user.username }}</a>
                        {% endif %}
                    </p>
                    <p class="ulist-listbar-li-email">
                        {% if contact.contact_user.email|length > 25 %}
                            {{ contact.contact_user.email|striptags|slice:":16" }}...
                        {% else %}
                            {{ contact.contact_user.email }}
                        {% endif %}
                    </p>
                    <p class="ulist-listbar-li-added_at">
                        Додано: {{ contact.added_at|date:"d.m.Y H:i" }}
                    </p>
                </div>
                <form class="ulist-notebook-del-form" action="{% url 'remove_contact' contact_id=contact.id %}" method="post">
                    {% csrf_token %}
                    <button class="ulist-del-button" type="submit" onclick="return confirm('Ви впевнені що хочете видалити контакт: {{ contact.contact_user.email }}')">x</button>
                </form>
            </li>
            {% endfor %}
             <li class="ulist-listbar-li   ulist-add-new-contact">
                 <a href="{% url 'add_contact' %}">Новий контакт</a>
             </li>
        </ul>
    </div>
{% endblock %}